body {
    font-family: 'Courier New', Courier, monospace;
    background-color: azure;
}
h1 {
    font-size: xx-large; 
    margin-bottom: 40px;
}
h2 {
    font-size: x-large; 
    font-style: initial; 
    margin-top: 40px;
}
blockquote {
    font-style: italic;
}
.heading {
    margin-top: 30px;
    text-align: center;
}
.text {
    font-size: medium; 
    font-style: oblique;
}
a:hover {
    color: #ff0000
}

@media only screen and (max-width: 600px) {
    p {
        font-size: large;
    }
}